.body {
  background-color: #5856d6;
  background-image: url('../images/grid-bg2x.png');
  background-position: 50% 120px;
  background-size: cover;
  background-attachment: scroll;
}

.wil-bayne {
  display: block;
  overflow: visible;
  width: auto;
  height: 34px;
  margin-right: 517px;
  margin-bottom: 8px;
  font-family: Helveticaneue, sans-serif;
  color: #f1fa33;
  font-size: 34px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.line {
  width: 1155px;
  height: 2px;
  min-height: 2px;
  min-width: auto;
  margin-top: 0px;
  background-color: #fff;
  -o-object-fit: contain;
  object-fit: contain;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  margin-top: 35px;
  margin-bottom: 0px;
  margin-left: 124px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.pd-i-a {
  margin-bottom: 12px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.copy {
  margin-bottom: 8px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 123px;
  line-height: 120px;
  font-weight: 700;
  letter-spacing: 0px;
}

.section {
  display: block;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.type-writer {
  min-width: 886px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 123px;
  line-height: 120px;
  font-weight: 700;
}

.bod-copy {
  margin-top: 300px;
  margin-left: 112px;
}

.yellow-divider {
  display: block;
  min-height: 582px;
  min-width: 6px;
  margin-top: 439px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1fa33;
  color: #f1fa33;
}

.content {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 80px;
}

.image {
  position: static;
  margin-top: 100px;
  margin-right: 0px;
  margin-left: -366px;
}

.card-hello {
  position: static;
  width: 260px;
  height: 260px;
  margin-top: 0px;
  margin-bottom: 64px;
  margin-left: 0px;
  background-color: #5b59d7;
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-text-hello {
  margin-bottom: 108px;
  padding-top: 30px;
  padding-left: 34px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 29px;
  line-height: 35px;
  font-weight: 500;
}

.card-line-hello {
  display: block;
  width: 207px;
  height: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #fff;
  background-clip: border-box;
}

.card-design-element-hello {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-cube-hello {
  width: 13px;
  height: 13px;
  background-color: #fff;
  color: #fff;
}

.card-text-flow {
  margin-bottom: 108px;
  padding-top: 30px;
  padding-left: 40px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 29px;
  line-height: 35px;
  font-weight: 500;
}

.card-flow {
  position: static;
  width: 260px;
  height: 260px;
  margin: 0px 64px 64px 0px;
  background-color: #5b59d7;
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-design-element-flow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-cube-flow {
  width: 13px;
  height: 13px;
  background-color: #fff;
  color: #fff;
}

.card-line-flow {
  display: block;
  width: 207px;
  height: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #fff;
  background-clip: border-box;
}

.card-work {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 260px;
  height: 260px;
  margin: 0px 64px 64px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #5b59d7;
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -o-object-fit: contain;
  object-fit: contain;
}

.card-text-work {
  margin-bottom: 108px;
  padding-top: 30px;
  padding-left: 34px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 29px;
  line-height: 35px;
  font-weight: 500;
}

.card-design-element-work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-cube-work {
  width: 13px;
  height: 13px;
  margin-right: 60px;
  clear: none;
  background-color: #fff;
  color: #fff;
}

.card-line-work {
  display: block;
  width: 207px;
  height: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #fff;
  background-clip: border-box;
}

.work-line-two {
  position: relative;
  display: none;
  width: 480px;
  height: 6px;
  margin-right: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #fff;
  background-clip: border-box;
}

.year-element-container {
  position: fixed;
  display: none;
  margin-left: 179px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.year-line {
  width: 2px;
  height: 280px;
  background-color: #fff;
}

.text-block-year {
  -webkit-transform: translate(-9px, -16px) rotate(90deg);
  -ms-transform: translate(-9px, -16px) rotate(90deg);
  transform: translate(-9px, -16px) rotate(90deg);
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: none;
  margin-top: -126px;
  margin-bottom: 80px;
  margin-left: 124px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.link-block {
  text-decoration: none;
}

.link-block-2 {
  text-decoration: none;
}

.link-block-3 {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .body {
    background-position: 100% 115px;
  }
  .line {
    width: 1300px;
  }
  .header {
    display: block;
    margin-top: 31px;
    margin-left: 139px;
  }
  .header-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .copy {
    margin-bottom: 4px;
  }
  .section {
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .type-writer {
    line-height: 120px;
  }
  .bod-copy {
    margin-top: 122px;
    margin-left: 125px;
  }
  .yellow-divider {
    margin-top: 296px;
  }
  .image {
    position: static;
    margin-top: 140px;
    margin-left: -150px;
  }
  .card-flow {
    margin-right: 0px;
  }
  .card-work {
    margin-right: 0px;
  }
  .card-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    margin-top: -192px;
    margin-bottom: 80px;
    margin-left: 0px;
    padding-right: 138px;
    padding-left: 138px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
}

@media screen and (min-width: 1440px) {
  .body {
    background-position: 50% 80px;
    background-attachment: fixed;
  }
  .wil-bayne {
    margin-right: 371px;
    font-size: 26px;
    line-height: 30px;
  }
  .line {
    width: 710px;
  }
  .header {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 37px;
  }
  .pd-i-a {
    font-size: 14px;
  }
  .header-text {
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    line-height: 20px;
  }
  .section {
    margin-right: auto;
    margin-left: auto;
  }
  .bod-copy {
    margin-top: 76px;
  }
  .yellow-divider {
    margin-top: 256px;
  }
  .content {
    margin-bottom: 0px;
  }
  .image {
    height: 434px;
    margin-top: -50px;
    margin-left: -482px;
  }
  .card-hello {
    position: static;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 120px;
    height: 120px;
    margin-top: 178px;
    margin-right: 142px;
    margin-bottom: 0px;
  }
  .card-text-hello {
    margin-bottom: 45px;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 19px;
  }
  .card-line-hello {
    width: 20px;
  }
  .card-design-element-hello {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .card-cube-hello {
    width: 8px;
    height: 8px;
  }
  .card-text-flow {
    margin-bottom: 100px;
    padding-top: 25px;
    padding-left: 30px;
  }
  .card-flow {
    width: 240px;
    height: 240px;
    margin-top: -47px;
    margin-right: 343px;
    margin-bottom: 0px;
  }
  .card-design-element-flow {
    margin-bottom: 0px;
  }
  .card-cube-flow {
    width: 15px;
    height: 15px;
  }
  .card-line-flow {
    width: 195px;
  }
  .card-work {
    width: 460px;
    height: 460px;
    margin-top: 83px;
    margin-right: 1px;
    margin-bottom: 0px;
  }
  .card-text-work {
    margin-bottom: 213px;
    padding-top: 45px;
    padding-left: 50px;
    font-size: 57px;
    line-height: 70px;
  }
  .card-cube-work {
    width: 30px;
    height: 30px;
  }
  .card-line-work {
    width: 247px;
    height: 4px;
  }
  .work-line-two {
    display: block;
    width: 500px;
    height: 4px;
    margin-left: -380px;
  }
  .year-element-container {
    position: static;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -81px;
    margin-right: 23px;
    margin-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .year-line {
    height: 210px;
  }
  .card-container {
    margin-top: -1082px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1920px) {
  .body {
    height: 100%;
    background-image: url('../images/grid-bg2x.png');
    background-position: 50% 128px;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .wil-bayne {
    margin-right: 510px;
    margin-bottom: 10px;
    font-size: 34px;
  }
  .line {
    width: 952px;
  }
  .header {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 73px;
    margin-left: 158px;
  }
  .pd-i-a {
    font-size: 18px;
  }
  .header-text {
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .copy {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
    line-height: 130px;
  }
  .section {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    background-image: none;
  }
  .type-writer {
    min-height: 120px;
    margin-top: 0px;
    line-height: 120px;
  }
  .bod-copy {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 136px;
    margin-left: 144px;
  }
  .yellow-divider {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    min-height: 476px;
    margin-top: 317px;
  }
  .content {
    overflow: visible;
  }
  .image {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    height: 480px;
    margin-top: -80px;
    margin-left: -563px;
  }
  .card-hello {
    position: static;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 160px;
    height: 160px;
    margin-top: 180px;
    margin-right: 398px;
    margin-left: 0px;
  }
  .card-text-hello {
    margin-bottom: 69px;
    font-size: 18px;
    line-height: 23px;
  }
  .card-line-hello {
    width: 25px;
  }
  .card-cube-hello {
    width: 10px;
    height: 10px;
  }
  .card-text-flow {
    margin-bottom: 117px;
    padding-top: 35px;
    padding-left: 40px;
    font-size: 47px;
    line-height: 57px;
  }
  .card-flow {
    position: static;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 320px;
    height: 320px;
    margin-top: 0px;
    margin-right: 714px;
  }
  .card-cube-flow {
    width: 20px;
    height: 20px;
  }
  .card-line-flow {
    width: 260px;
    height: 4px;
  }
  .card-work {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    overflow: visible;
    width: 560px;
    height: 560px;
    margin-top: -157px;
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  .card-text-work {
    margin-bottom: 231px;
    font-size: 76px;
    line-height: 93px;
    text-decoration: none;
  }
  .card-design-element-work {
    margin-left: -480px;
  }
  .card-cube-work {
    width: 40px;
    height: 40px;
    margin-right: 60px;
  }
  .card-line-work {
    width: 455px;
    height: 6px;
  }
  .work-line-two {
    width: 0px;
    height: 6px;
    min-width: 480px;
    margin-left: 0px;
  }
  .year-element-container {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: -132px;
    margin-right: 104px;
    margin-left: 0px;
  }
  .year-line {
    height: 290px;
  }
  .card-container {
    overflow: hidden;
    margin-top: -1063px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (max-width: 991px) {
  .body {
    background-position: 50% 120px;
    background-attachment: scroll;
  }
  .wil-bayne {
    margin-right: 0px;
    margin-bottom: 8px;
    line-height: 26px;
  }
  .line {
    overflow: visible;
    width: 861px;
    height: auto;
    max-height: 2px;
    max-width: none;
    min-height: 2px;
    min-width: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: auto;
    margin-top: 36px;
    margin-left: 138px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .pd-i-a {
    margin-bottom: 12px;
  }
  .header-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .copy {
    margin-bottom: 6px;
    font-size: 96px;
    line-height: 118px;
  }
  .section {
    margin-right: auto;
    margin-left: auto;
  }
  .type-writer {
    min-width: 642px;
    font-size: 96px;
  }
  .bod-copy {
    overflow: visible;
    margin-top: 230px;
    margin-left: 127px;
  }
  .yellow-divider {
    min-height: 554px;
    margin-top: 413px;
  }
  .content {
    position: static;
    overflow: hidden;
  }
  .image {
    position: static;
    left: 40px;
    top: 100px;
    margin-top: 114px;
    margin-left: -235px;
  }
  .card-hello {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 260px;
    height: 260px;
    margin: 0px 0px 80px;
  }
  .card-text-hello {
    margin-bottom: 108px;
    padding-top: 30px;
    padding-left: 34px;
    font-size: 29px;
    line-height: 35px;
  }
  .card-line-hello {
    width: 207px;
    height: 3px;
  }
  .card-design-element-hello {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .card-cube-hello {
    width: 13px;
    height: 13px;
  }
  .card-text-flow {
    margin-bottom: 108px;
    padding-left: 34px;
    font-size: 29px;
    line-height: 35px;
  }
  .card-flow {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 260px;
    height: 260px;
    margin-right: 0px;
    margin-bottom: 64px;
    margin-left: 0px;
  }
  .card-design-element-flow {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card-cube-flow {
    width: 13px;
    height: 13px;
  }
  .card-line-flow {
    width: 207px;
    height: 3px;
  }
  .card-work {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 260px;
    height: 260px;
    margin: 0px 64px 64px 0px;
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2);
  }
  .card-text-work {
    margin-bottom: 108px;
    padding-top: 30px;
    padding-left: 34px;
    font-size: 29px;
    line-height: 35px;
  }
  .card-design-element-work {
    margin-left: 0px;
  }
  .card-cube-work {
    width: 13px;
    height: 13px;
  }
  .card-line-work {
    width: 207px;
    height: 3px;
  }
  .work-line-two {
    display: none;
  }
  .year-element-container {
    display: none;
    overflow: visible;
    margin-left: 0px;
  }
  .card-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    max-width: none;
    margin-top: -128px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 138px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .spacer {
    width: 131px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-right: auto;
    margin-left: auto;
  }
  .image {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .body {
    background-position: 50% 120px;
  }
  .wil-bayne {
    height: 25px;
    margin-bottom: 4px;
    font-size: 25px;
  }
  .header {
    margin-top: 52px;
    margin-left: 17px;
  }
  .pd-i-a {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .copy {
    margin-bottom: 0px;
    font-size: 57px;
    line-height: 70px;
  }
  .section {
    margin-right: auto;
    margin-left: auto;
  }
  .type-writer {
    min-width: auto;
    font-size: 57px;
    line-height: 70px;
  }
  .bod-copy {
    margin-top: 0px;
    margin-left: 14px;
  }
  .yellow-divider {
    width: 3px;
    min-height: 480px;
    min-width: 3px;
    margin-top: 85px;
  }
  .content {
    margin-top: 98px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .card-hello {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
  }
  .card-flow {
    margin-right: 0px;
    margin-bottom: 104px;
  }
  .card-work {
    margin-right: 0px;
    margin-bottom: 104px;
  }
  .card-container {
    margin-top: -154px;
    margin-bottom: 80px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue Condensed';
  src: url('../fonts/HelveticaNeue-CondensedBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue Condensed';
  src: url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}